.menu
    height: 100vh
    width: 100vw
    background-image: url('../drawble/texture_menu.png')
    background-size: 1366px 768px

    .light
        position: fixed
        top: 0
        left: 0
        z-index: 100
        height: 100%
        width: 100%
        box-shadow: inset 0px 0px 100vw 50vw black
        animation: acende 1s linear

    .card-menu-about
        z-index: 0
        height: 309px
        width: 543.5px
        background-image: url('../drawble/texture_card_about.png')
        background-size: 700px 350px
        display: block
        position: relative
        left: 25%
        top: 10%
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b
        animation: chegando .7s linear

        .top
            height: 75%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            gap: 30px

            .about-box
                height: 70%
                width: 20%

                p
                    font-size: .6em
                    text-align: center
                    padding-left: 3px
                    padding-right: 3px
                    border-bottom: solid 1px #5F534E
                    transform: rotate(270deg)
                    position: relative
                    left: calc(57% - 1em)
                    top: 30%

            .content-about-text
                height: 70%
                width: 60%
                font-size: .7em
                overflow: visible

        .bottom
            height: 25%
            width: 100%

            p
                border-top: solid 2px #5f534e98
                margin-left: 8%
                margin-right: 8%
                padding-left: 15px
                padding-top: 5px
                cursor: pointer

    .card-menu-projects
        z-index: 10
        height: 216px
        width: 422.5px
        background-image: url('../drawble/texture_card_projects.png')
        background-size: 700px 350px
        display: block
        position: relative
        left: 48%
        top: -5%
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b
        padding-left: 2%
        padding-right: 2%
        animation: chegando2 .4s linear

        .number-box
            height: 15%
            font-size: .5em
            display: flex
            align-items: end
            border-bottom: solid 2px #5f534e98
            padding-bottom: 2px

        .title-box
            display: flex
            align-items: center
            justify-content: center
            padding: 5px
            border-bottom: solid 2px #5f534e98

        .content-see
            height: calc( 70% - 20px)
            display: flex
            align-items: center
            justify-content: center

            p
                cursor: pointer

    .paw
        height: 100px
        width: 100px
        position: absolute
        opacity: 0

        &.zero
            bottom: 20px
            left: 300px
            rotate: -35deg
            animation: paws 5s 2s linear infinite

        &.one
            top: 100px
            right: 100px
            rotate: 35deg
            animation: paws 5s linear infinite

        &.two
            top: 100px
            left: 100px
            rotate: -20deg
            animation: paws 5s 4s linear infinite

        img
            height: 100%
            width: 100%
            object-fit: cover

@keyframes acende
    0%
        box-shadow: inset 0px 0px 100vw 50vw black

    100%
        box-shadow: inset 0px 0px 0vw 0vw black

@keyframes chegando
    0%
        transform: translateY(-100%) translateX(-100%) rotate(20deg)
        box-shadow: -45px 45px 30px 40px #00000067, inset 0px 0px 0px 0px #ffffff4b

    100%
        transform: translateY(0) translateX(0) rotate(0)
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b

@keyframes chegando2
    0%
        transform: translateY(100%) translateX(100%) rotate(20deg)
        box-shadow: -35px 35px 30px 30px #00000067, inset 0px 0px 0px 0px #ffffff4b

    100%
        transform: translateY(0) translateX(0) rotate(0)
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b

@keyframes paws
    0%, 100%
        opacity: 0

    50%
        opacity: 1