.home
    height: 100vh
    width: 100vw
    background: rgb(192,189,185)
    background: linear-gradient(45deg, rgba(192,189,185,1) 73%, rgba(221,217,213,1) 96%)
    display: flex
    justify-content: center
    align-items: center
    overflow: visible

    .change-language
        position: absolute
        right: 20px
        top: 10px
        font-size: 1em
        cursor: pointer

        @include por
            top: calc( 100vh - 40px )

        @include md
            right: 20px
            top: 10px

        @include lg
            right: 20px
            top: 10px

        @include xl
            right: 20px
            top: 10px

    .change-language:hover
        border-bottom: 1px solid black

        a
            img
                height: 40px
                width: 40px

    .botao
        height: 180px
        width: 330px
        border-radius: 2px
        background-color: #E4E0DD
        display: block
        box-shadow: -15px 15px 20px 0px #474944ce, 5px -5px 20px 0px #f1f1f175
        cursor: pointer
        transition: box-shadow .1s linear

        @include xs
            width: 310px

        @include md
            width: 450px
            height: 210px

        .braille, .hello, .message
            @include center

        .braille
            height: 20%

        .hello
            height: 60%
            font-size: 1.5em
            font-weight: bold

        .message
            height: 30%
            font-size: .7em
            align-items: start

        .letters-camp
            display: flex
            flex-direction: row
            align-items: center
            position: relative
            top: 15px
            gap: 2px

            .one-letter-camp
                height: 20px
                width: 15px
                display: grid
                grid-template-columns: 1fr 1fr
                grid-template-rows: repeat(3, calc( 20px / 3))

                .letter-braille
                    height: 5px
                    width: 5px
                    border-radius: 50%
                    box-shadow: inset .2px -0.2px 2px -1px #474944ea, inset -0.2px .2px 2px -1px #f1f1f1a1
                    transition: box-shadow 0.05s linear

    .botao.off
        box-shadow: -7px 7px 10px -5px #474944ce, 0px 0px 20px 0px #f1f1f183

        .letter-braille
            box-shadow: inset .05px -0.05px 2px -1px #4749448e, inset -0.05px .05px 3px -1px #f1f1f1a1

    .light
        @include lights(apaga, 1s, linear)

        .hello
            color: black
            font-size: 2em
            margin: 0 auto
            color: #ffffffbd
            border-right: solid 2px #ffffffbd
            padding-right: 2px
            white-space: nowrap
            overflow: hidden

            @include xs
                font-size: 1.5em
                margin-bottom: 30px

            &.cursor
                animation: cursor .8s linear infinite, typing 2s ease, pisca .1s 3s ease, pisca .1s 3.1s ease, pisca .1s 4.5s ease, pisca .1s 5.6s ease, pisca 1.6s 7.2s linear
                animation-timing-function: steps(11, end)
