@import './_utilities'
@import './_animation'
@import './breakpoints'

.menu
    height: 100vh
    width: 100vw
    background-image: url('../drawble/texture_menu.png')
    background-size: 1366px 768px

    .light
        @include lights (apaga , 1s , linear , reverse)

        &.off
            animation: apaga .5s linear

    .card-menu-about
        z-index: 0
        height: 309px
        width: 543.5px
        background-image: url('../drawble/texture_card_about.png')
        background-size: 700px 350px
        display: block
        position: relative
        left: 25%
        top: 10%
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b
        animation: chegando .7s linear

        @include xs
            height: 280px
            left: -20px
            width: calc( 100vw + 30px )
            margin: auto
            transform: rotate(-10deg)

        @include md
            height: 390px
            left: -40px
            width: 700px
            margin: auto
            transform: rotate(-10deg)

        @include lg
            height: 390px
            left: -40px
            width: 700px
            margin: auto
            transform: rotate(-10deg)

        @include xl
            height: 390px
            left: -40px
            width: 700px
            margin: auto
            transform: rotate(-10deg)

        @include sm
            height: 390px
            left: -40px
            width: 700px
            margin: auto
            transform: rotate(-10deg)

        .top
            @include center
            height: 75%
            width: 100%
            gap: 30px
            overflow: visible

            @include xs
                height: 80%

            .about-box
                height: 70%
                width: 20%

                p
                    font-size: .5em
                    text-align: center
                    padding-left: 3px
                    padding-right: 3px
                    border-bottom: solid 1px #5F534E
                    transform: rotate(270deg)
                    position: relative
                    left: calc(57% - 1em)
                    top: 30%
                    white-space: nowrap

                    @include xs
                        font-size: .45em

                    @include md
                        font-size: .8em

                    @include lg
                        font-size: .8em

                    @include xl
                        font-size: .8em

                    @include sm
                        font-size: .8em

            .content-about-text
                height: 70%
                width: 60%
                font-size: .7em
                overflow: visible

                @include xs
                    font-size: .6em

                @include md
                    font-size: .9em

                @include lg
                        ont-size: .9em
                
                @include xl
                        ont-size: .9em

                @include sm
                        ont-size: .9em

        .bottom
            height: 25%
            width: 100%

            p
                border-top: solid 2px #5f534e98
                margin-left: 8%
                margin-right: 8%
                padding-left: 15px
                padding-top: 5px
                cursor: pointer

                @include md
                    font-size: 1.5em

                @include lg
                    font-size: 1.5em

                @include xl
                    font-size: 1.5em

                @include sm
                    font-size: 1.5em

    .card-menu-projects
        z-index: 10
        height: 216px
        width: 422.5px
        background-image: url('../drawble/texture_card_projects.png')
        background-size: 700px 350px
        display: block
        position: relative
        left: 48%
        top: 0%
        box-shadow: -5px 5px 8px 0px #00000067, inset -5px 5px 20px 0px #ffffff4b
        padding-left: 2%
        padding-right: 2%
        animation: chegando2 .4s linear

        @include xs
            height: 150px
            width: calc( 100vw - 180px )
            left: calc( 100% - (100vw - 110px) )
            top: 100px
            transform: rotate(5deg)

        @include md
            height: 200px
            top: 80px
            transform: rotate(8deg)

        @include lg
            height: 200px
            top: 80px
            transform: rotate(8deg)

        @include sm
            height: 200px
            top: 80px
            transform: rotate(8deg)

        @include xl
            height: 200px
            top: 80px
            transform: rotate(8deg)

        .number-box
            height: 15%
            font-size: .5em
            display: flex
            align-items: end
            border-bottom: solid 2px #5f534e98
            padding-bottom: 2px

        .title-box
            @include center
            padding: 5px
            border-bottom: solid 2px #5f534e98

        .content-see
            height: calc( 70% - 20px)
            @include center

            p
                cursor: pointer

    .paw
        height: 100px
        width: 100px
        position: absolute
        opacity: 0
        margin-left: -100px

        &.zero
            bottom: 20px
            left: 300px
            rotate: -35deg
            animation: paws 5s 2s linear infinite

        &.one
            top: 100px
            right: 100px
            rotate: 35deg
            animation: paws 5s linear infinite

        &.two
            top: 100px
            left: 100px
            rotate: -20deg
            animation: paws 5s 4s linear infinite

        img
            height: 100%
            width: 100%
            object-fit: cover
