.mySkills
    height: 100vh
    width: 100vw
    background-image: url('../drawble/texture_card_projects.png')
    background-size: 700px 350px

    .light
        position: fixed
        top: 0
        left: 0
        z-index: 100
        height: 100vh
        width: 100vw
        box-shadow: inset 0px 0px 100vw 50vw black
        animation: acende 1s linear

    .filtro
        position: fixed
        top: 0
        left: 0
        z-index: 10
        height: 100vh
        width: 100vw
        background-color: #000000e3
