@keyframes hint-hiden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes chegando {
  0% {
    transform: translateY(-100%) translateX(-100%) rotate(20deg);
    box-shadow: -45px 45px 30px 40px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes chegando2 {
  0% {
    transform: translateY(100%) translateX(100%) rotate(20deg);
    box-shadow: -35px 35px 30px 30px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes letter-surge {
  0% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  50% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  100% {
    color: rgba(71, 73, 68, 0.7803921569);
    padding-right: 30px;
    width: 6em;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apaga {
  0% {
    opacity: 0;
    box-shadow: inset 0px 0px 0px 0px black;
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 100% 0px black;
  }
}
@keyframes cursor {
  0% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50.5% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
  100% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 11ch;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
.home {
  height: 100vh;
  width: 100vw;
  background: rgb(192, 189, 185);
  background: linear-gradient(45deg, rgb(192, 189, 185) 73%, rgb(221, 217, 213) 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.home .change-language {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1em;
  cursor: pointer;
}
@media (orientation: portrait) {
  .home .change-language {
    top: calc(100vh - 40px);
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .home .change-language {
    right: 20px;
    top: 10px;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .home .change-language {
    right: 20px;
    top: 10px;
  }
}
@media ((min-width: 1200px) and (orientation: portrait)) {
  .home .change-language {
    right: 20px;
    top: 10px;
  }
}
.home .change-language:hover {
  border-bottom: 1px solid black;
}
.home .change-language:hover a img {
  height: 40px;
  width: 40px;
}
.home .botao {
  height: 180px;
  width: 330px;
  border-radius: 2px;
  background-color: #E4E0DD;
  display: block;
  box-shadow: -15px 15px 20px 0px rgba(71, 73, 68, 0.8078431373), 5px -5px 20px 0px rgba(241, 241, 241, 0.4588235294);
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .home .botao {
    width: 310px;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .home .botao {
    width: 450px;
    height: 210px;
  }
}
.home .botao .braille, .home .botao .hello, .home .botao .message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .botao .braille {
  height: 20%;
}
.home .botao .hello {
  height: 60%;
  font-size: 1.5em;
  font-weight: bold;
}
.home .botao .message {
  height: 30%;
  font-size: 0.7em;
  align-items: start;
}
.home .botao .letters-camp {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 15px;
  gap: 2px;
}
.home .botao .letters-camp .one-letter-camp {
  height: 20px;
  width: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 6.6666666667px);
}
.home .botao .letters-camp .one-letter-camp .letter-braille {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: inset 0.2px -0.2px 2px -1px rgba(71, 73, 68, 0.9176470588), inset -0.2px 0.2px 2px -1px rgba(241, 241, 241, 0.631372549);
  transition: box-shadow 0.05s linear;
}
.home .botao.off {
  box-shadow: -7px 7px 10px -5px rgba(71, 73, 68, 0.8078431373), 0px 0px 20px 0px rgba(241, 241, 241, 0.5137254902);
}
.home .botao.off .letter-braille {
  box-shadow: inset 0.05px -0.05px 2px -1px rgba(71, 73, 68, 0.5568627451), inset -0.05px 0.05px 3px -1px rgba(241, 241, 241, 0.631372549);
}
.home .light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: apaga 1s linear "";
}
.home .light .hello {
  color: black;
  font-size: 2em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7411764706);
  border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .home .light .hello {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
.home .light .hello.cursor {
  animation: cursor 0.8s linear infinite, typing 2s ease, pisca 0.1s 3s ease, pisca 0.1s 3.1s ease, pisca 0.1s 4.5s ease, pisca 0.1s 5.6s ease, pisca 1.6s 7.2s linear;
  animation-timing-function: steps(11, end);
}

@keyframes hint-hiden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes chegando {
  0% {
    transform: translateY(-100%) translateX(-100%) rotate(20deg);
    box-shadow: -45px 45px 30px 40px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes chegando2 {
  0% {
    transform: translateY(100%) translateX(100%) rotate(20deg);
    box-shadow: -35px 35px 30px 30px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes letter-surge {
  0% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  50% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  100% {
    color: rgba(71, 73, 68, 0.7803921569);
    padding-right: 30px;
    width: 6em;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apaga {
  0% {
    opacity: 0;
    box-shadow: inset 0px 0px 0px 0px black;
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 100% 0px black;
  }
}
@keyframes cursor {
  0% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50.5% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
  100% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 11ch;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
.mySkills {
  height: 100vh;
  width: 100vw;
  background-color: #0e0c0c;
  box-shadow: inset 0px 0px 100px 50px black;
}
.mySkills .light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: apaga 1s linear reverse;
}
.mySkills .light.turn {
  animation: apaga 1s linear;
}
.mySkills .content-rope {
  position: absolute;
  left: 20px;
  height: 300px;
  width: 100px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
.mySkills .ropes {
  background-image: url("../assets/corda.png");
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.mySkills .instruction {
  position: relative;
  z-index: 20;
  color: rgba(255, 255, 255, 0.5254901961);
  left: 100px;
  top: 10px;
  width: 80px;
  font-size: 0.9em;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
.mySkills .instruction.turn {
  animation: hint-hiden 1s ease reverse;
}
.mySkills .score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.mySkills .card-content {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5803921569);
}
.mySkills .card-content .card {
  height: 400px;
  width: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.mySkills .card-content .card span {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mySkills .card-content .card span h2 {
  font-weight: bold;
}
.mySkills .card-content .card button {
  width: 40%;
  border: none;
  background: black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.mySkills .lampsContent {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
}
.mySkills .lampsContent .lamps {
  height: 80%;
  width: 50%;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps {
    width: 100vw;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps {
    width: 100vw;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps {
    width: 100vw;
  }
}
.mySkills .lampsContent .lamps .lamp {
  position: relative;
  height: 100px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  border-radius: 50%;
  cursor: pointer;
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps .lamp {
    height: 80px;
    width: 80px;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps .lamp {
    height: 65px;
    width: 65px;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lampsContent .lamps .lamp {
    height: 50px;
    width: 50px;
  }
}
.mySkills .lampsContent .lamps .lamp::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4666666667);
  background: rgba(255, 255, 255, 0.0745098039);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-0 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #d1003c;
  box-shadow: 0px 0px 50px 25px #C70039, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-1 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #990d43;
  box-shadow: 0px 0px 50px 25px #900C3F, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-2 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #601a4b;
  box-shadow: 0px 0px 50px 25px #581845, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-3 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #9447b4;
  box-shadow: 0px 0px 50px 25px #8E44AD, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-4 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #2b86c1;
  box-shadow: 0px 0px 50px 25px #2980B9, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-5 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #1bc5a3;
  box-shadow: 0px 0px 50px 25px #1ABC9C, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-6 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #29b665;
  box-shadow: 0px 0px 50px 25px #27AE60, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-7 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #f2c619;
  box-shadow: 0px 0px 50px 25px #F1C40F, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-8 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #dd5800;
  box-shadow: 0px 0px 50px 25px #D35400, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-9 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #e85445;
  box-shadow: 0px 0px 50px 25px #E74C3C, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-10 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #9f60b9;
  box-shadow: 0px 0px 50px 25px #9B59B6, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-11 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #17a98c;
  box-shadow: 0px 0px 50px 25px #16A085, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-12 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #33d176;
  box-shadow: 0px 0px 50px 25px #2ECC71, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-13 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #f2c619;
  box-shadow: 0px 0px 50px 25px #F1C40F, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-14 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #f3a01c;
  box-shadow: 0px 0px 50px 25px #F39C12, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}
.mySkills .lampsContent .lamps .lamp.on.lamp-15 {
  border: 1px solid #ffffff;
  transition: all linear 0.2s;
  background: #dd5800;
  box-shadow: 0px 0px 50px 25px #D35400, 0px 0px 30px 10px #ffffff, inset -2px 2px 5px 0px #FFF, inset 2px -2px 5px 0px #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "forum";
  font-size: 1.1em;
  color: rgba(71, 73, 68, 0.7803921569);
  box-sizing: border-box;
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #E4E0DD;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(71, 73, 68, 0.7803921569);
}

/*# sourceMappingURL=index.css.map */
