@keyframes hint-hiden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes chegando {
  0% {
    transform: translateY(-100%) translateX(-100%) rotate(20deg);
    box-shadow: -45px 45px 30px 40px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes chegando2 {
  0% {
    transform: translateY(100%) translateX(100%) rotate(20deg);
    box-shadow: -35px 35px 30px 30px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes paws {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes letter-surge {
  0% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  50% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  100% {
    color: rgba(71, 73, 68, 0.7803921569);
    padding-right: 30px;
    width: 6em;
  }
}
@keyframes card-open {
  0% {
    height: 80%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 65%;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes girar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes title-surge {
  0% {
    height: 0;
    width: 0;
  }
  10% {
    height: 13%;
    width: 0;
  }
  100% {
    height: 13%;
    width: 50%;
  }
}
@keyframes apaga {
  0% {
    opacity: 0;
    box-shadow: inset 0px 0px 0px 0px black;
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 100% 0px black;
  }
}
@keyframes cursor {
  0% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50.5% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
  100% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 7em;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
.menu {
  height: 100vh;
  width: 100vw;
  background-image: url("../drawble/texture_menu.png");
  background-size: 1366px 768px;
}
.menu .light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: apaga 1s linear reverse;
}
.menu .light.off {
  animation: apaga 0.5s linear;
}
.menu .card-menu-about {
  z-index: 0;
  height: 309px;
  width: 543.5px;
  background-image: url("../drawble/texture_card_about.png");
  background-size: 700px 350px;
  display: block;
  position: relative;
  left: 25%;
  top: 10%;
  box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  animation: chegando 0.7s linear;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .menu .card-menu-about {
    height: 280px;
    left: -20px;
    width: calc(100vw + 30px);
    margin: auto;
    transform: rotate(-10deg);
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .menu .card-menu-about {
    height: 390px;
    left: -40px;
    width: 700px;
    margin: auto;
    transform: rotate(-10deg);
  }
}
.menu .card-menu-about .top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
  gap: 30px;
  overflow: visible;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .menu .card-menu-about .top {
    height: 80%;
  }
}
.menu .card-menu-about .top .about-box {
  height: 70%;
  width: 20%;
}
.menu .card-menu-about .top .about-box p {
  font-size: 0.5em;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: solid 1px #5F534E;
  transform: rotate(270deg);
  position: relative;
  left: calc(57% - 1em);
  top: 30%;
  white-space: nowrap;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .menu .card-menu-about .top .about-box p {
    font-size: 0.45em;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .menu .card-menu-about .top .about-box p {
    font-size: 0.8em;
  }
}
.menu .card-menu-about .top .content-about-text {
  height: 70%;
  width: 60%;
  font-size: 0.7em;
  overflow: visible;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .menu .card-menu-about .top .content-about-text {
    font-size: 0.6em;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .menu .card-menu-about .top .content-about-text {
    font-size: 0.9em;
  }
}
.menu .card-menu-about .bottom {
  height: 25%;
  width: 100%;
}
.menu .card-menu-about .bottom p {
  border-top: solid 2px rgba(95, 83, 78, 0.5960784314);
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .menu .card-menu-about .bottom p {
    font-size: 1.5em;
  }
}
.menu .card-menu-projects {
  z-index: 10;
  height: 216px;
  width: 422.5px;
  background-image: url("../drawble/texture_card_projects.png");
  background-size: 700px 350px;
  display: block;
  position: relative;
  left: 48%;
  top: -5%;
  box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  padding-left: 2%;
  padding-right: 2%;
  animation: chegando2 0.4s linear;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .menu .card-menu-projects {
    height: 150px;
    width: calc(100vw - 130px);
    left: calc(100% - (100vw - 110px));
    top: 100px;
    transform: rotate(5deg);
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .menu .card-menu-projects {
    height: 200px;
    top: 80px;
    transform: rotate(8deg);
  }
}
.menu .card-menu-projects .number-box {
  height: 15%;
  font-size: 0.5em;
  display: flex;
  align-items: end;
  border-bottom: solid 2px rgba(95, 83, 78, 0.5960784314);
  padding-bottom: 2px;
}
.menu .card-menu-projects .title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: solid 2px rgba(95, 83, 78, 0.5960784314);
}
.menu .card-menu-projects .content-see {
  height: calc(70% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .card-menu-projects .content-see p {
  cursor: pointer;
}
.menu .paw {
  height: 100px;
  width: 100px;
  position: absolute;
  opacity: 0;
  margin-left: -100px;
}
.menu .paw.zero {
  bottom: 20px;
  left: 300px;
  rotate: -35deg;
  animation: paws 5s 2s linear infinite;
}
.menu .paw.one {
  top: 100px;
  right: 100px;
  rotate: 35deg;
  animation: paws 5s linear infinite;
}
.menu .paw.two {
  top: 100px;
  left: 100px;
  rotate: -20deg;
  animation: paws 5s 4s linear infinite;
}
.menu .paw img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style_menu.css.map */
