@keyframes hint-hiden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes chegando {
  0% {
    transform: translateY(-100%) translateX(-100%) rotate(20deg);
    box-shadow: -45px 45px 30px 40px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes chegando2 {
  0% {
    transform: translateY(100%) translateX(100%) rotate(20deg);
    box-shadow: -35px 35px 30px 30px rgba(0, 0, 0, 0.4039215686), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.2941176471);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.4039215686), inset -5px 5px 20px 0px rgba(255, 255, 255, 0.2941176471);
  }
}
@keyframes paws {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes letter-surge {
  0% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  50% {
    color: rgba(71, 73, 68, 0);
    width: 0;
    padding-right: 0;
  }
  100% {
    color: rgba(71, 73, 68, 0.7803921569);
    padding-right: 30px;
    width: 6em;
  }
}
@keyframes card-open {
  0% {
    height: 80%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 65%;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes girar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes title-surge {
  0% {
    height: 0;
    width: 0;
  }
  10% {
    height: 13%;
    width: 0;
  }
  100% {
    height: 13%;
    width: 50%;
  }
}
@keyframes apaga {
  0% {
    opacity: 0;
    box-shadow: inset 0px 0px 0px 0px black;
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 100% 0px black;
  }
}
@keyframes cursor {
  0% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50.5% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
  100% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 7em;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
.mySkills {
  height: 100vh;
  width: 100vw;
  background-color: #241f1f;
  box-shadow: inset 0px 0px 100px 50px black;
}
.mySkills .light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: apaga 1s linear reverse;
}
.mySkills .light.turn {
  animation: apaga 1s linear;
}
.mySkills .filtro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5607843137);
}
.mySkills .content-rope {
  position: absolute;
  left: 150px;
  height: 300px;
  width: 100px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .content-rope {
    left: 10px;
    zoom: 1.4;
  }
}
.mySkills .ropes {
  background-image: url("../drawble/corda.png");
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.mySkills .instruction {
  position: relative;
  z-index: 20;
  color: rgba(255, 255, 255, 0.5254901961);
  left: 230px;
  top: 10px;
  width: 80px;
  font-size: 0.9em;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1.4;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: landscape)) {
  .mySkills .instruction {
    left: 100px;
    zoom: 1;
  }
}
.mySkills .instruction.on.turn {
  animation: hint-hiden 1s ease reverse;
}
.mySkills .instruction.turn {
  animation: hint-hiden 1s ease;
}
.mySkills .operations {
  position: absolute;
  z-index: 10;
  top: -55px;
  right: 0;
  display: flex;
  flex-direction: column;
}
.mySkills .operations .engrenagem {
  position: relative;
  -webkit-filter: drop-shadow(-10px 5px 5px #000);
  filter: drop-shadow(-10px 5px 5px #000);
}
.mySkills .operations .engrenagem.zero {
  height: 110px;
  width: 110px;
  top: 45px;
  left: 15px;
}
.mySkills .operations .engrenagem.one {
  width: 120px;
  height: 120px;
  left: 30px;
  top: 35px;
}
.mySkills .operations .engrenagem.two {
  height: 140px;
  width: 140px;
  left: 90px;
}
.mySkills .operations .engrenagem.turn.zero {
  animation: girar 4s linear infinite;
}
.mySkills .operations .engrenagem.turn.one {
  animation: girar 4s linear infinite reverse;
}
.mySkills .operations .engrenagem.turn.two {
  animation: girar 4s linear infinite;
}
.mySkills .lamps {
  position: absolute;
  top: 35%;
  left: 22%;
  overflow: visible;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps {
    left: 15%;
    top: 30%;
    display: flex;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .lamps {
    left: 28%;
    top: 25%;
    display: flex;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .lamps {
    left: 28%;
    top: 25%;
    display: flex;
  }
}
@media ((min-width: 1200px) and (orientation: portrait)) {
  .mySkills .lamps {
    left: 0;
    top: 45%;
    display: flex;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .lamps {
    left: 20%;
    top: 50%;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .lamps {
    left: 20%;
    top: 50%;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .lamps {
    left: 20%;
    top: 50%;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: landscape)) {
  .mySkills .lamps {
    left: 20%;
    top: 50%;
  }
}
.mySkills .lamps .lamp {
  height: 90px;
  width: 90px;
  border: solid 1px rgba(255, 255, 255, 0.5254901961);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5254901961);
  z-index: 20;
  position: relative;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .lamp {
    height: 60px;
    width: 60px;
    margin-bottom: -30px;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: landscape)) {
  .mySkills .lamps .lamp {
    height: 60px;
    width: 60px;
    margin-right: -10px;
  }
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: landscape)) {
  .mySkills .lamps .lamp {
    height: 60px;
    width: 60px;
    margin-right: -10px;
  }
}
@media ((min-width: 480px) and (max-width: 719px) and (orientation: landscape)) {
  .mySkills .lamps .lamp {
    height: 60px;
    width: 60px;
    margin-right: -10px;
  }
}
.mySkills .lamps .row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
  overflow: visible;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row {
    flex-direction: column;
  }
}
@media ((min-width: 720px) and (max-width: 959px) and (orientation: portrait)) {
  .mySkills .lamps .row {
    flex-direction: column;
  }
}
@media ((min-width: 1200px) and (orientation: portrait)) {
  .mySkills .lamps .row {
    flex-direction: column;
  }
}
@media ((min-width: 960px) and (max-width: 1199px) and (orientation: portrait)) {
  .mySkills .lamps .row {
    flex-direction: column;
  }
}
.mySkills .lamps .row .turn {
  border: solid 1px rgba(255, 255, 255, 0);
  color: white;
}
.mySkills .lamps .row .turn.zero {
  box-shadow: 0px 0px 8vw 4vw rgba(97, 218, 251, 0.4), inset 0px 0px 100px 10px rgba(97, 218, 251, 0.4), inset -10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 1s ease;
  background-color: #61DAFB;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.zero {
    box-shadow: 0px 0px 40vw 10vw rgba(97, 218, 251, 0.4), inset 0px 0px 100px 10px rgba(97, 218, 251, 0.4), inset -10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.zero.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.one {
  box-shadow: 0px 0px 8vw 4vw rgba(105, 122, 177, 0.4), inset 0px 0px 100px 10px rgba(105, 122, 177, 0.4), inset 0px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 3.8s ease;
  background-color: #697AB1;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.one {
    box-shadow: 0px 0px 40vw 10vw rgba(105, 122, 177, 0.4), inset 0px 0px 100px 10px rgba(105, 122, 177, 0.4), inset 0px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.one.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.two {
  box-shadow: 0px 0px 8vw 4vw rgba(198, 99, 148, 0.4), inset 0px 0px 100px 10px rgba(198, 99, 148, 0.4), inset 0px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4s ease;
  background-color: #C66394;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.two {
    box-shadow: 0px 0px 40vw 10vw rgba(198, 99, 148, 0.4), inset 0px 0px 100px 10px rgba(198, 99, 148, 0.4), inset 0px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.two.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.three {
  box-shadow: 0px 0px 8vw 4vw rgba(139, 191, 61, 0.4), inset 0px 0px 100px 10px rgba(139, 191, 61, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 3.5s ease;
  background-color: #8BBF3D;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.three {
    box-shadow: 0px 0px 40vw 10vw rgba(139, 191, 61, 0.4), inset 0px 0px 100px 10px rgba(139, 191, 61, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.three.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.four {
  box-shadow: 0px 0px 8vw 4vw rgba(232, 77, 49, 0.4), inset 0px 0px 100px 10px rgba(232, 77, 49, 0.4), inset -10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4s ease;
  background-color: #E84D31;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.four {
    box-shadow: 0px 0px 40vw 10vw rgba(232, 77, 49, 0.4), inset 0px 0px 100px 10px rgba(232, 77, 49, 0.4), inset -10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.four.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.five {
  box-shadow: 0px 0px 8vw 4vw rgba(18, 151, 209, 0.4), inset 0px 0px 100px 10px rgba(18, 151, 209, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4.2s ease;
  background-color: #1297D1;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.five {
    box-shadow: 0px 0px 40vw 10vw rgba(18, 151, 209, 0.4), inset 0px 0px 100px 10px rgba(18, 151, 209, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.five.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.six {
  box-shadow: 0px 0px 8vw 4vw rgba(233, 98, 40, 0.4), inset 0px 0px 100px 10px rgba(233, 98, 40, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 2s ease;
  background-color: #E96228;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.six {
    box-shadow: 0px 0px 40vw 10vw rgba(233, 98, 40, 0.4), inset 0px 0px 100px 10px rgba(233, 98, 40, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.six.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.seven {
  box-shadow: 0px 0px 8vw 4vw rgba(0, 116, 208, 0.4), inset 0px 0px 100px 10px rgba(0, 116, 208, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4.2s ease;
  background-color: #0074D0;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.seven {
    box-shadow: 0px 0px 40vw 10vw rgba(0, 116, 208, 0.4), inset 0px 0px 100px 10px rgba(0, 116, 208, 0.4), inset 0px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.seven.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.eight {
  box-shadow: 0px 0px 8vw 4vw rgba(239, 216, 29, 0.4), inset 0px 0px 100px 10px rgba(239, 216, 29, 0.4), inset 10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 3s ease;
  background-color: #EFD81D;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.eight {
    box-shadow: 0px 0px 40vw 10vw rgba(239, 216, 29, 0.4), inset 0px 0px 100px 10px rgba(239, 216, 29, 0.4), inset 10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.eight.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.nine {
  box-shadow: 0px 0px 8vw 4vw rgba(255, 53, 40, 0.4), inset 0px 0px 100px 10px rgba(255, 53, 40, 0.4), inset 10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4s ease;
  background-color: #FF3528;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.nine {
    box-shadow: 0px 0px 40vw 10vw rgba(255, 53, 40, 0.4), inset 0px 0px 100px 10px rgba(255, 53, 40, 0.4), inset 10px 10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.nine.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.ten {
  box-shadow: 0px 0px 8vw 4vw rgba(8, 195, 132, 0.4), inset 0px 0px 100px 10px rgba(8, 195, 132, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4.4s ease;
  background-color: #08C384;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.ten {
    box-shadow: 0px 0px 40vw 10vw rgba(8, 195, 132, 0.4), inset 0px 0px 100px 10px rgba(8, 195, 132, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.ten.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.eleven {
  box-shadow: 0px 0px 8vw 4vw rgba(55, 124, 200, 0.4), inset 0px 0px 100px 10px rgba(55, 124, 200, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  transition: all 1s 4.4s ease;
  background-color: #377CC8;
}
@media ((min-width: 0) and (max-width: 479px) and (orientation: portrait)) {
  .mySkills .lamps .row .turn.eleven {
    box-shadow: 0px 0px 40vw 10vw rgba(55, 124, 200, 0.4), inset 0px 0px 100px 10px rgba(55, 124, 200, 0.4), inset 10px -10px 25px 10px rgba(255, 255, 255, 0.7450980392);
  }
}
.mySkills .lamps .row .turn.eleven.fail {
  transition: all 0.3s 0s ease;
}
.mySkills .lamps .row .turn.off {
  box-shadow: 0px 0px 0px 0px #fff;
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.5254901961);
  transition: all 2s 0s ease;
  color: #f5f5f5;
}
.mySkills .lamps .row:first-child {
  padding-left: 60px;
  padding-right: 60px;
}

/*# sourceMappingURL=style_mySkills.css.map */
