* {
  padding: 0;
  margin: 0;
  font-family: "forum";
  font-size: 1.1em;
  color: rgba(71, 73, 68, 0.7803921569);
  box-sizing: border-box;
  overflow: hidden;
}

.home {
  height: 100vh;
  width: 100vw;
  background: rgb(192, 189, 185);
  background: linear-gradient(45deg, rgb(192, 189, 185) 73%, rgb(221, 217, 213) 96%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home .lets {
  margin-top: 20px;
}
.home .apresentation {
  margin-bottom: 20px;
}
.home .botao {
  height: 180px;
  width: 330px;
  border-radius: 2px;
  background-color: #E4E0DD;
  display: block;
  box-shadow: -15px 15px 20px 0px rgba(71, 73, 68, 0.8078431373), 5px -5px 20px 0px rgba(241, 241, 241, 0.4588235294);
  cursor: pointer;
  transition: box-shadow 0.05s linear;
}
.home .botao .braille, .home .botao .hello, .home .botao .message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .botao .braille {
  height: 20%;
}
.home .botao .hello {
  height: 60%;
  font-size: 1.5em;
  font-weight: 300;
}
.home .botao .message {
  height: 30%;
  font-size: 0.7em;
  align-items: start;
}
.home .botao .letters-camp {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 15px;
  gap: 2px;
}
.home .botao .letters-camp .one-letter-camp {
  height: 20px;
  width: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 6.6666666667px);
}
.home .botao .letters-camp .one-letter-camp .letter-braille {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: inset 0.2px -0.2px 2px -1px rgba(71, 73, 68, 0.9176470588), inset -0.2px 0.2px 2px -1px rgba(241, 241, 241, 0.631372549);
  transition: box-shadow 0.05s linear;
}
.home .botao.off {
  box-shadow: -7px 7px 10px -5px rgba(71, 73, 68, 0.8078431373), 0px 0px 20px 0px rgba(241, 241, 241, 0.5137254902);
}
.home .botao.off .letter-braille {
  box-shadow: inset 0.05px -0.05px 2px -1px rgba(71, 73, 68, 0.5568627451), inset -0.05px 0.05px 3px -1px rgba(241, 241, 241, 0.631372549);
}
.home .light {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: apaga 0.7s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .light .hello {
  color: black;
  font-size: 2em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7411764706);
  border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
}
.home .light .hello.cursor {
  animation: cursor 0.8s linear infinite, typing 2s ease, pisca 0.1s 4s ease, pisca 0.1s 4.1s ease, pisca 0.1s 5.5s ease, pisca 0.1s 5.6s ease, pisca 1.6s 6.2s linear;
  animation-timing-function: steps(11, end);
}

@keyframes apaga {
  0% {
    opacity: 0;
    box-shadow: inset 0px 0px 0px 0px black;
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 100vh 0px black;
  }
}
@keyframes cursor {
  0% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50% {
    border-right: solid 2px rgba(255, 255, 255, 0.7411764706);
  }
  50.5% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
  100% {
    border-right: solid 2px rgba(255, 255, 255, 0);
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 7em;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
